#textBody {
    text-align: left;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
}

#backgroundBody {
    background-color: rgb(219, 219, 219);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.button {
    background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #555555;
    color: white;
}